* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffebf2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: "Marck Script", cursive;
    font-size: 50px;
    margin-bottom: 30px;
    color: #444;
}

/* CONTENEDOR */
.envoltura-sobre {
    position: relative;
    width: 400px;
    height: 300px;
    cursor: pointer;
}

/* SOBRE */
.sobre {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffe3ed;
    border-radius: 15px;
    z-index: 1;
}

/* SOLAPA */
.sobre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 180px solid #ffccd5;
    border-right: 200px solid transparent;
    border-left: 200px solid transparent;
    transform-origin: top;
    transition: transform 0.6s ease;
    z-index: 4;
}

/* BOLSILLO */
.sobre::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffc1d1;
    clip-path: polygon(0 40%, 50% 100%, 100% 40%, 100% 100%, 0 100%);
    z-index: 3;
    border-radius: 15px;
}

/* CARTA (DENTRO DEL SOBRE) */
.carta {
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 380px;
    height: 220px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    z-index: 2;
    transition: transform 0.8s ease;
    overflow-y: auto;
}

/* TEXTO */
.contenido {
    font-family: "Amarante", serif;
    color: #003049;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
}

/* CORAZÓN */
.corazon {
    position: absolute;
    top: 180px;
    left: 50%;
    width: 30px;
    height: 30px;
    background: #ff477e;
    z-index: 5;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform 0.6s ease;
}

.corazon::before,
.corazon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ff477e;
    border-radius: 50%;
}

.corazon::before {
    top: -15px;
    left: 0;
}

.corazon::after {
    top: 0;
    left: -15px;
}

/* ANIMACIÓN */
.abierto .sobre::before {
    transform: rotateX(180deg);
}

.carta.mostrar-carta {
    transform: translateY(-140px);
    z-index: 6;
}

.abierto .corazon {
    transform: translate(-50%, -120px) rotate(45deg);
}






